<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       
     <!-- config applcation properties using contextsupport placeholder property -->  
     <context-property:place-holder location="com/nt/Appliacation.properties"></context-property:place-holder> 
      <alias name="${choose.engine}" alias="engine"></alias>
</beans>

   

